footer{
    height: 10vh;
    min-height: 45px;
    background-color: #00A6FB;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    color: white;
    display: flex;
    align-items: center;
    top: 40px;
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: white;
}


.footer-wrapper a:nth-child(2n) {
    margin-left: 5vw;
}

#hsg-logo{
    max-width: 30vw;
}

@media only screen and (max-width: 650px) {
    .footer-wrapper{
        display: flex;
        justify-content: center;
        margin-left: 0;

    }
    footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }



}