footer{
    height: 10vh;
    min-height: 45px;
    background-color: #00802f; /*#00a6fb*/ 
    padding-left: 13.5vw;
    color: white;
    display: flex;
    align-items: center;
    top: 40px;
}

footer a{
    text-decoration: none;
    color: white;
}


.footer-wrapper a:nth-child(2n) {
    margin-left: 5vw;
}

@media only screen and (max-width: 600px) {
    .footer-wrapper{
        display: flex;
        justify-content: center;
        margin-left: 0;

    }
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }



}