nav
{
    height: 10vh;
    border-bottom: 1px solid #707070;
    padding: 0;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}

#logo
{
    height: inherit;
}

#hsg-logo
{
    height: inherit;
    padding: 1em;
}