nav
{
    height: 10vh;
    padding: 0;
    padding-top: 1vh;
    margin-bottom: 8vh;
    display: flex;
    justify-content: space-between;
}

#logo 
{
    height: inherit;
}

#hsg-logo
{
    height: inherit;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media only screen and (max-width: 600px) {
    nav{
        margin: 0
    }
    .logo{
        width: 40% !important;
        height: auto;
    }
}