/* styles.css or your component's CSS file */
.chat-input {
    display: flex;
    flex-direction: column; /* Align items vertically */
  }
  
  #div-btn-send {
    display: flex;
    align-items: center; /* Align items horizontally */
  }
  
  #chat-textarea {
    padding-top: 12px;
    border-radius: 15px;
    min-height: 50px;    
    resize: none;
    width: 100%;  
  }
  
  .btn-primary {
    border-radius: 100vw;
    height: 50px;
    width: 60px;
    background-color: unset;
    border: none !important;
    transition: 0.5s ease-in-out;
  }
  #btn-joke{
    margin-right: 1.5vw;
  }

  #btn-send-img,
  #btn-joke-img {
    height: 100%;
    transition: 0.2s ease;
  }
  
  #btn-send-img:hover,
  #btn-joke-img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  
  .alert {
    margin-top: 1vh;
    background-color: #293033;
    color: white;
    border-color: unset;
    border-radius: 15px;
  }
  


/*scrollbar*/
textarea::-webkit-scrollbar {
  width: 8px;
  padding-right: 20px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #293033;
  border-radius: 6px; 
  transition: 0.2s;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #00A6FB;
  transition: 0.2s;
}

