.chat {
    height: 70%;
    border: 1px solid #707070;
    padding-left: 2.5vw;
    padding-right: 5vw;
    padding-top: 2.5vh;
    position: relative; 
  }

  #chat-textarea {
    border-radius: 15px;
    margin-right: 1vw;
    line-height: 2.3;
    vertical-align: middle;
    resize: none;
    position: fixed;
    bottom: 130px;
    width: 45vw;
    display: inline-block;
  }
  

#div-btn-send {
    border: none !important;
    position: absolute;
    bottom: 130px;
    right: 150px;
    display: inline-block;
}
#btn-send{
    border-radius: 100vw;
    height: 50px;
    width: 50px;
    background-color: #00802f;
    border: none !important;
}

.border{
    border-radius: 20px;
}

.chat-input{
    display: flex;
}