<div class="chat-input">
    <textarea class="form-control border" id="chat-textarea"
        rows="1" 
        [(ngModel)]="chatMessage" 
        (keyup.enter)="addMessage(chatMessage)"
        placeholder="Schreibe hier Deine eine Nachricht..."
    ></textarea>
    <div id="div-btn-send">
        <button (click)="addMessage(chatMessage)"
                [disabled]="chatMessage === ''"
                class="btn btn-primary border"
                id="btn-send">
        <img class="icon" src="../../../assets/Images/send-icon.svg"></button>
    </div>
</div>
<div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>