.user-form {
    left: 100px;
    display: flex;
    align-items: center;
    
  }
  
  .user-label {
    position: relative;
    margin-right: 20px;
  }
  
  #btn-user {
    position: relative;
    margin-left: 10px;
    border-radius: 100vw;
    height: 55px;
    width: 55px;
    padding: 0;
  }

  #bt-user img{
    height: 50px;
    width: 50px;
  }
#div-btn-user {
    border: none !important;
    position: relative;
    display: inline-block;
}

#user-textarea {
    padding-left: 0.375rem;
    line-height: 2.3;
    vertical-align: middle;
    resize: none;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    width: 200px;
  }

  #user-alert{
    width: 200px;
  }
