<div class="user-form">
  <div>
    <input
      type="text"
      id="user-textarea"
      class="border"
      [(ngModel)]="username"
      placeholder="Benutzername anlegen"
      (keyup.enter)="createUser()"
    />
          <!-- Entfernt: placeholder="Benutzername anlegen" -->
  </div>
  <div id="div-btn-user">
    <button (click)="createUser()" class="btn" id="btn-user">
      <img src="../../../assets/Images/user-btn.svg"/>
      <!-- <img class="icon" src="../../../assets/Images/user-icon.svg" /> -->
    </button>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-warning" id="user-alert">{{ errorMessage }}</div>
