.user-form {
    left: 100px;
    display: flex;
    align-items: center;
    
  }
  
  .user-label {
    margin-right: 20px;
  }
  
  #btn-user {
    margin-left: 10px;
    height: 55px;
    width: 55px;
    padding: 0;
    transition: 0.2s ease;
  }

  #btn-user:hover{
    scale: 105%;
    transition: 0.3s ease;
  }

  #user-alert{
    display: block;
    width: 250px;
    max-width: 98%;
    background-color: #293033;
    color: white;
  }


  #bt-user img{
    height: 50px;
    width: 50px;
  }

#div-btn-user {
    border: none !important;
    position: relative;
    display: inline-block;
}

#user-textarea {
    padding-left: 0.375rem;
    line-height: 2.3;
    vertical-align: middle;
    resize: none;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    width: 100%;
  }
