h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: #434343;
}

main{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.wrapper
{
    display: flex;
}

.left,
.right {
    width: 50%;
}

#Person-Chat
{
    float: right;
    text-align: right;
    width: 40%;
    margin-right: 15vw;
}


.chat{
    width: 90%;
    height: 70%;
    border: 1px solid #707070;
    border-radius: 20px;
}
