h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: #434343;
}

main{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.main-wrapper{
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}
.wrapper
{
    display: flex;
    height: 60vh;

}

.left
{
    width: 30%;
}
.right {
    width: 70%;
}

#Person-Chat
{
    float: left;
    width: 40%;
    transform: scaleX(-1);
    margin-left: 2vw;

}


.chat{
    width: 90%;
    height: 70%;
    border: 1px solid #707070;
    border-radius: 20px;
}
