<!--<div class="container">-->
  <!--Header-->
  <app-header></app-header>

  <div class="main-wrapper">
  <!--Content-->
  <main>
    <div class="wrapper">
      <div class="left">
        <img src="../../../assets/Images/Person-Chat_gruen.png" alt="Grafik" id="Person-Chat"/>
      </div>
      <div class="right">
        <!-- <div class="h1-wrapper">
          <h1 id="H1-Chat">Chat</h1>
        </div> -->
        <app-chat-bar></app-chat-bar>
      </div>
    </div>
  </main>
  <!--Footer-->
  </div>
  <app-footer></app-footer>

  <!--</div>-->
