<!-- app.component.html -->
<div class="master-wrapper">
  <div class="container">
    <app-header></app-header>

    <div class="main-wrapper">
      <main class="wrapper">
        <div class="col left">
          <h1>Benutzer anlegen</h1>
          <app-chat-user (userCreated)="userSubmitted($event)"></app-chat-user>
          <app-user-history [userhistory]="userHistory"></app-user-history>
          
          <div>
            <img id="Person-Chat" src="../../assets/Images/Person-Chat_gruen.png">
          </div>  
        </div>
  <!-- 
        <div class="col">
          <app-user-history [userhistory]="userHistory"></app-user-history>
        </div> -->

        <div class="right">
          <div class="col">
            <app-chat-history [messages]="messageHistory"></app-chat-history>
          </div>

          <div class="col">
            <app-chat-bar (messageToSend)="messageSubmitted($event)"></app-chat-bar>
          </div>
        </div>
      </main>
    </div>

  </div>

  <app-footer class="app-footer"></app-footer>
</div>
