
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: #767676;
}
h1{
    font-size: 1.2rem;
}

main{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.icon{
    height: 100%;
    width: auto;
}

.master-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-footer{
    margin-top: auto;
}

.wrapper{
    display: flex;
}

.left
{
    width: 30%;
}
.right {
    width: 70%;
    /* max-height: 100%; */
}

#Person-Chat
{
    margin-top: 2vh;
    max-width: 60%;
    max-height: 80%;
    transform: scaleX(-1);
    /* margin-left: 2vw; */
    /* margin-top: 10vh; */
}

/* Mediaquery */

@media only screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .right {
        width: 100%;
    }


  }