<!-- app.component.html -->
<div class="container">
  <!-- Header -->
  <app-header></app-header>

  <div class="main-wrapper">
    <!-- Content -->
    <main>
      <div class="wrapper">
        <div class="left">
          <img src="../../../assets/Images/Person-Chat_gruen.png" alt="Grafik" id="Person-Chat" />
          </div>
          <div class="right">
          <!-- The right section -->
          <div class="row">
            <!-- Display message history -->
            <div class="col">
              <app-chat-history [history]="messageHistory"></app-chat-history>
            </div>
          </div>
          <div class="row">
            <!-- Input bar for typing messages -->
            <div class="col">
              <app-chat-bar (messageToSend)="messageSubmitted($event)"></app-chat-bar>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
