
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: #767676;
}
h1{
    font-size: 1.2rem;
}

button{
    transition: 0.5s ease-in-out;
}

button:hover{
    scale: 102%;
    transition: 0.5s ease-in-out;
}


/*Style der Rahmen*/
.border{
    border-style: none !important;
    border-style: #767676 !important;
}

/* .input-style{
    border-color: #red !important;
} */

main{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.icon{
    height: 100%;
    width: auto;
}

.master-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-footer{
    margin-top: auto;
}

.wrapper{
    display: flex;
}

.left
{
    width: 30%;
}
.right {
    width: 70%;
    /* max-height: 100%; */
}

#Person-Chat
{
    width: 60%;
    transform: scaleX(-1);
    max-height: 40vh;
    width: auto;
    max-width: 100%;
}


#user-history {
    display: block;
    width: 190px;
    max-width: 98%;
}

/* Mediaquery */

@media only screen and (max-width: 650px) {
    .left {
        width: 100%;
    }

    #Person-Chat{
        display: none;
    }

    .wrapper{
        display: block;
    }
    .right {
        width: 100%;
    }


  }