.current-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    background-color: #00802f;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end;
    margin-left: 100px;
    position: relative;
  }
  .joke-bot{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    background-color: grey;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end;
    
    position: relative;
  }

  .other-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    background-color: #00d2ff;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end;
    margin-right: 100px;
    position: relative;
  }
  
  .message-timestamp {
    font-size: 0.7em;
    color: #ffffff;
    position: absolute; 
    bottom: 6px;
    right: 6px;
}
.message-username {
  font-family: "Gill Sans MT Pro-Bold";
  color: #ffffff;
}
  
.message-content {
    margin-top: 4px;
    white-space: pre-line;
  }


.chat-history {
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 10px;
    height: 50vh;
    max-height: 450px;
    overflow-y: auto;
    margin-bottom: 1vh;
  }

  @media only screen and (max-width: 650px) {
    .chat-history{
      max-height: 60vh;
  }
}